html,
body {
    height: 100%;
}

#page-header {
    height:100px;
    background-color:#184183;
    margin-bottom: 2em;
}

#page-header #logo {
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-size: 70px;
    height: 70px;
    position: relative;
    top: 15px;
    left: 50px;
}

#page-header #logo::after {
    content: "Polis";
    color: #fff;
    position: relative;
    font-size: 40px;
    left: 70px;
}

.homepage-film-preview {
    width: 300px;
}

.homepage-film-preview .image-box {
    background-color: #777777;
    height: 180px;
    width: 100%;
}

.homepage-film-preview img {
    max-height: 180px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
}

.actor-details {
    width: 220px;
}

.actor-details .image-box {
    background-color: #777777;
    height: 180px;
    width: 100%;
}

.actor-details img {
    max-height: 180px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
}

.movie-details-image {
    width: auto;
    max-height: 300px;
}