<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form test</title>
</head>
<body>
   {% if send == false %}
        <form action = "/form" method = "POST">
            <p>Name <input type = "text" name = "Name" /></p>
            <p>Physics <input type = "text" name = "Physics" /></p>
            <p>Chemistry <input type = "text" name = "chemistry" /></p>
            <p>Maths <input type ="text" name = "Mathematics" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
    {% else %}
        <table border = 1>
            {% for key, value in result.items() %}
            
               <tr>
                  <th> {{ key }} </th>
                  <td> {{ value }} </td>
               </tr>
               
            {% endfor %}
         </table>
    {% endif %}
</body>
</html>