#page-header {
    background-color:#184183;
    margin-bottom: 2rem;
    color: white;
    
    .navbar-brand {
        background-image: url("/images/logo.png");
        background-repeat: no-repeat;
        background-size: contain;

        &::after {
            content: "Polis";
            color: #fff;
            position: relative;
            left: 2.6rem;
        }
    }

    // #login-btn,
    // #logout-btn {
    //     position: absolute;
    //     right: 2rem;
    //     top: 1rem;
    // }

    // #user_alias {
    //     position: absolute;
    //     right: 6.5rem;
    //     top: 1.1rem;
    //     color: white;
    // }
}