{% extends "boilerplates/basePage.html" %}
{% block title %}{{movieDetails[0]}}{% endblock %}
{% block head %}<script type="text/javascript" src="/js/editMovie.js"></script>{% endblock %}
{% block body %}
    {% include "boilerplates/pageHeader.html" %}
    <div class="container">
        <form method="post" action="/editMovie/process" role="form" style="display: block;">
            <div class="form-group">
                <b><label for="title">Title</label></b>
                <input type="text" name="title" id="title" class="form-control" placeholder="Title" value="{{movieDetails[0]}}" required>
            </div>
            <div class="form-group">
                <b><label for="description">Description</label></b> 
                <textarea class="form-control" id="description" rows="3" name="description" required>{{movieDetails[1]}}</textarea>
            </div>
            <b><label>Genres</label></b>
            <div id="genres-container">
                {% for genreName, genreID in allGenres %}
                    <div class="form-check ml-4">
                        <input type="checkbox" class="form-check-input genre-select-item" id="{{genreName}}" name="genres" value="{{genreID}}" required
                        {% if genreName in movieGenres %}checked{% endif %}>
                        <label class="form-check-label" for="{{genreName}}">{{genreName}}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group mt-3">
                <b><label for="title">Release year</label></b>
                <input type="text" name="release-year" id="release-year" class="form-control" placeholder="Release year" value="{{movieDetails[3]}}" required>
            </div>
            <div class="form-group">
                <b><label for="title">Release country</label></b> 
                <input type="text" name="country" id="country" class="form-control" placeholder="Country" value="{{movieDetails[2]}}" required>
            </div>
            <div class="form-group">
                <b><label for="title">Budget</label></b> 
                <input type="text" name="budget" id="budget" class="form-control" placeholder="budget" value="{{movieDetails[4]}}" required>
            </div>
            <b><label>Actors</label></b>
            <div class="dynamic-inputs">
                {% for role in movieRoles or [1] %}
                    <div class="entry form-group">
                        <div class="card">
                            <div class="card-body">
                                <input type="hidden" name="actor_id" value="{{role[7] or ''}}">
                                <div class="row">
                                    <div class="col">
                                        <label>Role name</label>
                                        <input type="text" name="role" class="form-control form-group" placeholder="Role name" value="{{role[0]}}" required>
                                    </div>
                                    <div class="col">
                                        <label>Actor name</label>
                                        <input type="text" name="actor-name" class="form-control form-group" placeholder="Actor name" value="{{role[1]}}" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Gender</label>
                                        <input type="text" name="gender" class="form-control form-group" placeholder="Gender" value="{{role[2]}}" required>
                                    </div>
                                    <div class="col">
                                        <label>Country</label>
                                        <input type="text" name="actor-country" class="form-control form-group" placeholder="Country" value="{{role[3]}}" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Birth year</label>
                                        <input type="text" name="birthyear" class="form-control form-group" placeholder="Birth year" value="{{role[4]}}" required>
                                    </div>
                                    <div class="col">
                                        <label>Year of decease</label>
                                        <input type="text" name="deceaseyear" class="form-control form-group" placeholder="year of decease" value="{{role[5]}}">
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-danger btn-remove float-right ml-3" type="button">Delete</button>
                                <button class="btn btn-sm btn-success btn-add float-right" type="button" 
                                {% if not loop.last %}hidden{% endif %}>Add actor</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-success" value="Save">
                <input type="hidden" value="{{ next or '' }}" name="next">
                <input type="hidden" value="{{movieDetails[6]}}" name="movieID">
            </div>
        </form>
    </div>
{% endblock %}